@charset "UTF-8";    /* 文字コードの指定 */

@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */
@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);

html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #4c4c4c;
    background-color: #FBEFFB;
}

.text-center
{
    text-align: center;
}

.block-center,
section .Favorite
{
    display: inline-block;
margin-left: auto; margin-right: auto;
}

.abel,
section h2

{
    font-family: 'Abel', sans-serif;
}
header .top
{
    clear: both;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}
header .site-title
{
    font-size: 1.8rem;
    line-height: normal;
}
header .site-title span
{
    font-size: 4.2rem;
    display: block;

    color: #610B4B;
}

header p
{
    font-size: 1.6rem;
}
section
{
    background-color: #fff;
    padding: 60px 0;
}


h2
{ 
    font-size: 2.8rem;
}
.text
{
   background-color: #D53458;
       text-align: center;
}

#favorite
{
     background-color: #fff;
}


.favorite
{
    display:flex;
    justify-content:space-between;
  
}
@media (max-width: 768px){
    .favorite{
        flex-direction: column;
    }
}

.favorite1
{
    background-color: #D56B58;
    border:5px solid #fff;
}
.favorite2
{
    background-color: #D56B58;
    border:5px solid #fff;
}
.favorite3
{
    background-color: #D56B58;
    border:5px solid #fff;
}


#contact 
{
    color: #4c4c4c;
    background-color: #FBEFFB;
}

.sample {
    width:200px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#fff;
    background-color:#D53458;
    border-radius:25px;
    margin: auto;
}
